
body{
    position: relative;
}
.wrapper{
    /* position: relative; */
    position: absolute;
    left:70%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    margin: 5%;

}
.upperImage{
    /* background-image: url("/Frontend-work/alpha/public/images/WIP_expand.gif"); */
    position: absolute;
    top:30px;
    /* left:35%; */
    left:calc(100% / 2.0);
    margin: 0;
    padding: 0;
    transform: translatex(-50%);
    height: 30vh;
    width: 30vw;
    background-size: 65vh 15vw;
    background-repeat: no-repeat;
    background-position-y:20% ;
    /* background-color: black; */
    border-radius: 10px;
    mix-blend-mode: difference;
}

.login-form{
    display: grid;
    align-items: center;
    text-align:center;
    position: absolute;
    top: 40%;
    left:calc(100% / 2.0);
    margin: 0;
    padding: 0;
    transform: translatex(-50%);
    
}

.form-1{
    font-size: 20px;
    font-weight: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* left:70%; */
}

.inputfields{
    background-color: rgba(227, 227, 227, 0.444);
    border-radius: 15px;
    height: 5vh;
    width: 20vw;
    margin: 5%;
    text-align: center;
    border: thin solid;
}
.but-1{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 10px;
    margin-top: 10%;
    color:  rgb(236, 255, 255);
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    mix-blend-mode: difference;
}