:root {
    --lblue : rgb(49, 158, 158);
    --ffamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bcolor: rgb(20, 20, 20);
    --fcolor: rgb(236, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bcolor);
    position: relative;
}


.container {
    position: absolute;
    right: 5px;
    top:5px; 
    width: calc(100% - 10px);
    height: calc(100vh - 10px);
    border-radius: 20px;
    background-color: var(--fcolor)
}

.signup-img img {
    border-radius: 18px;
    margin-left: 50%;
    background-color: black;

}
.img-container {
    /* background-color: beige; */
}

.singup-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.signup-form h2 {
    font-size: 40px;
    font-family: var(--ffamily);
    color: var(--bcolor);
}
.signup-form {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group {
    line-height: 3rem;
}
.form-group .zmdi {
    font-size: 1.2rem;
}

.form-group input {
    /* background-color: bisque; */
    font-family: var(--ffamily);
    padding: 13px 8px;
    /* padding-right: 7rem; */
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    /* border: thin solid gray; */
    
    background-color: rgba(227, 227, 227, 0.444);
    border-radius: 15px;
    height: 5vh;
    width: 20vw;
    text-align: center;
    border: thin solid;
}
.form-btn {
    /* color: var(--fcolor);
    background-color: var(--bcolor);
    border-radius: 15px; */
    padding: 8px 20px 8px 20px;
    /* cursor: pointer; */
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 10px;
    margin-top: 10%;
    color:  rgb(236, 255, 255);
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    /* mix-blend-mode: difference; */
}

/* .other-btn {
    margin-top: 2rem;
} */
/* .other-btn a {
    height: 50%;
    width: 50%;
    margin: 2rem;
    text-decoration: none;
    color: var(--fcolor);
    padding: 12px 15px;
    background-color: var(--bcolor);;
    border-radius: 50%;
    border: none;
} */
/* .but-1{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 10px;
    margin-top: 10%;
    color:  rgb(236, 255, 255);
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    cursor: pointer;
    text-decoration: none;
    mix-blend-mode: difference;
} */