:root {
    --imageBgColor: rgba(43, 43, 43, 0.442);
}

.imagetext h2{
    font-size: 18px;
    
}
.imagetextimage {
   
}
.imagetextwrapper{
    background-color: var(--imageBgColor);
    border-radius: 20px;
    border: 1px solid black;
    padding: 2rem;
    font-size: small;
    margin-bottom: 30px;
}