.imagetext{
    border: 1px solid gray;
    background-color: rgba(43, 43, 43, 0.442);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-size: smaller; */
    
}
.imagetextwrapper{
    border-radius: 20px;
    border: 2px solid black;
    height: 3em;
    width: 6em;
    margin: 0;
    padding: 1rem;
    font-size: small;
}