:root {
    --bgColor: rgba(80, 168, 245, 0.563);
}

.profilepic {
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.5rem 6rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    background-color: var(--bgColor);

}

.profilepic img {
    border: 1px solid red;
    border-radius: 50%;
    /* padding: 1rem; */
    height: 120px;
    object-fit: cover;
}

.profilepicdetails h3{
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;

}
.profilepicdetails h4 {
    text-align: center;
    text-transform: lowercase;
    font-size: 14px;
}