.profilepic{
    /* height: 100vh; */
    width: 10em;
    background-color:rgba(80, 168, 245, 0.563);
    padding: 0;
    border: 2px solid red;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.pic{
    background-color:rgba(80, 168, 245, 0.823);
    border: 2px solid red;
    border-radius: 50%;
    padding: 0em;
    margin: 0;
    padding: 3em 2em;
    font-size: smaller;
    /* height: 100px; */
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.profilepicdetails{
    /* height: 20rem; */
    width: auto;
    border: 2px solid green;
}